body {
    font-family: 'Roboto', Arial, sans-serif; /* A more masculine font */
    font-size: 18px; /* Slightly larger font size */
    line-height: 1.5; /* Increased line height for readability */
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif; /* Retain Open Sans for text areas */
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #fff; /* Light text color */
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #fff; /* Light border color */
  }
  
  .hour {
    background-color: #fff; /* Light background color */
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #444; /* Darker past color */
    color: #fff; /* Light text color */
  }
  
  .present {
    background-color: #ff6961;
    color: #fff; /* Light text color */
  }
  
  .future {
    background-color: #77dd77;
    color: #fff; /* Light text color */
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  